#sidebar  {
    height: 100vh;
    padding-top: 80px;
    position: fixed;
    background-color: #053f5e;
}

#dashboard {
    margin-top: 60px;
}

#navbar{
    background-color: #022c43!important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.2);
}