#sidebar  {
    height: 100vh;
    padding-top: 80px;
    position: fixed;
    background-color: rgb(95, 95, 196);
}

#dashboard {
    margin-top: 60px;
}

#navbar{
    background-color: rgb(42, 42, 65)!important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.2);
}