<div class="section-container">
    <h2>Latest Orders</h2>
    <table class="table table-dark table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Customer</th>
            <th scope="col">Amount</th>
            <th scope="col">Order Placed</th>
            <th scope="col">Order Fulfilled</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.id }}</td>
            <td>{{ order.customer.name }}</td>
            <td>{{ order.amount }}</td>
            <td>{{ order.placed | date: 'short' }}</td>
            <td>{{ order.fulfilled | date: 'short' }}</td>
            <td>status</td>
          </tr>
        </tbody>
      </table>
      <app-pagination 
        (goPage)="goToPage($event)"
        (goPrev)="goToPrevious()" 
        (goNext)="goToNext()" 
        [page]="page"
        [resultsPerPage]="limit"
        [count]="total"
      ></app-pagination>
</div>