/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #5a3d5c;
}

a {
    color:#ff6361;
}

a:hover {
    color: #44a8cf;
}