/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #115173;
}

a {
    color:#ff6361;
}

a:hover {
    color: #44a8cf;
}

.card-theme {
    background-color: #053f5e;
    border: none;
    border-radius: 2px;
}

.card-header-theme {
    background-color: #07354e;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color: #eee;
    padding: 12px;
}

.card-body-theme {
    background-color: #494f56;
}

.cards{
    display: flex;
    flex-direction: column;
}

.section-container {
    padding: 30px;
}