/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: rgb(240, 234, 226);
}

a {
    color: blue;
}

a:hover {
    color: #44a8cf;
}